@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
    @apply h-full w-full bg-cover;
    display: block;
    margin: 0 auto;
    background-image: url(https://res.cloudinary.com/proyecto-integrador-udea-2022/image/upload/v1643326469/bgcode_nlgyyl.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.transparent {
  background: rgba(0,0,0,0.5);
}

.svg {
  visibility: hidden; position: absolute;
}

.btn {
    @apply font-bold py-2 px-4 rounded-xl;
  }
  .btn-blue {
    @apply bg-light_blue_2 text-white;
  }
  .btn-blue:hover {
    @apply bg-light_blue_1;
}

.circle {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
  font-size: 7rem;
  color: #fff;
  text-align: center;
  background: #FBB631;
}

.backgroudSB{
  background: linear-gradient(180deg, #03314B 0%, #05192D 100%);
}

.shadowH{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.info{
  width: auto;
  height: auto;
  /* min-height: 30%;
  max-height: 30%; */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 3px solid #182931;
  box-sizing: border-box;
  border-radius: 100px;
}
