@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
    @apply h-full w-full bg-cover;
    display: block;
    margin: 0 auto;
    background-image: url(https://res.cloudinary.com/proyecto-integrador-udea-2022/image/upload/v1643157247/bgcode_oa0tnu.png);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.transparent {
  background: rgba(0,0,0,0.5);
}

.svg {
  visibility: hidden; position: absolute;
}

.btn {
    @apply font-bold py-2 px-4 rounded-xl;
  }
  .btn-blue {
    @apply bg-light_blue_2 text-white;
  }
  .btn-blue:hover {
    @apply bg-light_blue_1;
}
