@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
    @apply h-full w-full bg-cover;
    display: block;
    margin: 0 auto;
    background-image: url(https://res.cloudinary.com/proyecto-integrador-udea-2022/image/upload/v1643326469/bgcode_nlgyyl.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.transparent {
  background: rgba(0,0,0,0.5);
}

.svg {
  visibility: hidden; position: absolute;
}

.btn {
    @apply font-bold py-2 px-4 rounded-xl;
  }
  .btn-blue {
    @apply bg-light_blue_2 text-white;
  }
  .btn-blue:hover {
    @apply bg-light_blue_1;
}

.circle {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
  font-size: 7rem;
  color: #fff;
  text-align: center;
  background: #FBB631;
}

.backgroudSB{
  background: linear-gradient(180deg, #03314B 0%, #05192D 100%);
}

.shadowH{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.info{
  width: auto;
  height: auto;
  /* min-height: 30%;
  max-height: 30%; */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 3px solid #182931;
  box-sizing: border-box;
  border-radius: 100px;
}

.continue{
  @apply h-64 py-1;
  box-sizing: border-box;
  width: 800px;
  border-radius: 60px;
  background-image: url(https://i.ibb.co/Jc14DmW/Continue-Mod.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.big-icon {
  font-size: 40px;
}

.green {
  font-size: 30px;
  color: green;
}

.moduleLg{
  @apply h-48;
  box-sizing: border-box;
  width: 800px;
  border-radius: 16px;
}

.moduleSm{
  @apply h-48;
  box-sizing: border-box;
  width: 380px;
  border-radius: 16px;
  background: no-repeat linear-gradient(180deg, rgba(146, 227, 169, 0.51) 0%, rgba(20, 82, 38, 0.88) 100%), url(https://res.cloudinary.com/proyecto-integrador-udea-2022/image/upload/v1643821946/img1_1_lkjhw9.png);
  background-position: center;
  object-fit: cover;
}

.enable{
  background: no-repeat linear-gradient(180deg, rgba(146, 227, 169, 0.51) 0%, rgba(20, 82, 38, 0.88) 100%), url(https://res.cloudinary.com/proyecto-integrador-udea-2022/image/upload/v1643821946/img1_1_lkjhw9.png);
  background-position: center;
  object-fit: cover;
}

.bad{
  background: no-repeat linear-gradient(180deg, rgba(243, 82, 82, 0.61) 0%, rgba(153, 27, 27, 0.86) 100%), url(https://res.cloudinary.com/proyecto-integrador-udea-2022/image/upload/v1643821946/img1_1_lkjhw9.png);
  background-position: center;
  object-fit: cover;
}

.locked{
  color: rgba(249, 250, 251, 0.54);
  background: no-repeat linear-gradient(180deg, rgba(131, 136, 143, 0.59) 0%, rgba(13, 9, 9, 0.84) 100%), url(https://res.cloudinary.com/proyecto-integrador-udea-2022/image/upload/v1643821946/img1_1_lkjhw9.png);
  background-position: center;
  object-fit: cover;
}